# Account and jabber server to connect to
username = 'sweetiebutt@friendshipismagicsquad.com'
# The chatroom to join
chatroom = 'general@conference.friendshipismagicsquad.com'
# Account password
password = 'correct pony battery staple'
# Nickname to use in chatroom
nickname = 'Sweetiebot'

# Optional: An account key for Azure Service bus to chuck events at
sb_account_key = None
# sb_account_key = '66666666666666666666666666666666666666666666'
# Optional: Issuer for service bus
sb_issuer = None
# sb_issuer = 'owner'
# Optional: Service namespace for azure service bus
sb_namespace = 'jabber-messages'
# Optional: Service topic for azure service bus
sb_topic = 'test-topic'

# Optional: API key for pushbullet notifications
pushbullet_api = None
# pushbullet_api = '000000000000000000000000000000000000000000000'
# Optional: Device ID for pushbullet notifications
pushbullet_device = None
# pushbullet_device = 0000000000000000
twitter_key = '0000000000000000000000000'
twitter_secret = '00000000000000000000000000000000000000000000000000'
# details for connecting to EVE Online CREST API
crest_base_url = 'https://crest-tq.eveonline.com'                        
crest_client_id = '00000000000000000000000000000000'                     
crest_client_secret = '0000000000000000000000000000000000000000'         
crest_refresh_token = '00000000000000000000000000000000000000000000'     
# A url for the redis instance to connect to in the form redis://[:password]@host:port/dbnum
redis_url = 'redis://sbredis:6379/0'
