# Account and jabber server to connect to
username = 'sweetiebutt@friendshipismagicsquad.com/sweetiebutt'
# The chatroom to join
chatroom = 'general@conference.friendshipismagicsquad.com'
# The chatroom to join in debug mode
test_chatroom = 'sweetiebot_playground@conference.friendshipismagicsquad.com'
# Account password
password = 'correct pony battery staple'
# Nickname to use in chatroom
nickname = 'Sweetiebot'
debug = False
# Optional: An account key for Azure Service bus to chuck events at
sb_account_key = '66666666666666666666666666666666666666666666'
# Optional: Issuer for service bus
sb_issuer = 'owner'
# A list of JIDs for people allowed to do admin tasks
mods = [
    "luna@friendshipismagicsquad.com",
    "gielnor@friendshipismagicsquad.com",
    "xyyxshard@friendshipismagicsquad.com",
    "sykedoc@friendshipismagicsquad.com",
    "twilight_sparkle@friendshipismagicsquad.com",
    "princess_cadence@friendshipismagicsquad.com",
    "seven@friendshipismagicsquad.com",
    "big_macintosh@friendshipismagicsquad.com",
    "nyctef@friendshipismagicsquad.com",
]
