[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# general lookup stuff
astral = "==1.6"
beautifulsoup4 = "==4.6.0"
requests = "==2.20.0"
pytz = "==2016.4"
# storage
redis = "==2.10.1"
psycopg2-binary = "*"
# connect to jabber
slixmpp = "==1.8.3"
# azure logging
azure = "==0.8.1"
opencensus-ext-azure = "==1.0.4"
opencensus-ext-logging = "==0.1.0"
# misc
laboratory = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
